html, body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #6EA6AE;
    font-family: "Lato", Calibri, sans-serif;
    font-size: 16px;
    background-color: #254117; }
html a, body a {
    text-decoration: none;
    color: #7f879f;
    font-weight: 700; }
html a:hover, body a:hover {
    text-decoration: underline; }
html hr, body hr {
    border: 0;
    height: 1px;
    background: #333 linear-gradient(to right, #333333, #ccc);
}
html .clearfix, body .clearfix {
    clear: both; }

div.column {
    position: relative;
    float: left;
    overflow: auto;
    height: 100%;
    min-height: 100%;
    width: 50%; }

@media screen and (max-width: 1000px) {
    div.column {
        width: 100% !important;
        overflow: hidden;
        height: auto; } }

div#board {
    position: absolute;
    bottom: calc(45% - 40vmin);
    left: calc(50% - 40vmin);
    width: 80vmin;
    height: 80vmin;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #232621;
    background-color: #f5f3d7;
    overflow: hidden; }
div#board .cell {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    background-color: #7f4817; }
div#board .black_checkers .checker {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    background-size: 80%;
    background: #000000 no-repeat center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    cursor: pointer;
    border: 0.5vmin solid #302217; }
div#board .black_checkers .checker.selected {
    box-shadow: 0 0 10px 5px #16A8C7; }
div#board .black_checkers .checker.king {
    border: 1vmin solid #CC0210; }
div#board .white_checkers .checker {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    background-size: 80%;
    background: #eeeeee no-repeat center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    cursor: pointer;
    border: 0.5vmin solid #302217; }
div#board .white_checkers .checker.selected {
    box-shadow: 0 0 10px 5px #16A8C7; }
div#board .white_checkers .checker.king {
    border: 1vmin solid #CC0210; }