<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkers Game page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script type="text/javascript" src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script type="text/javascript" th:src="@{/js/client.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var Game;
        var currentGame = [[${currentGame}]];
        var loggedUserNickname = [[${loggedUserNickname}]];

        $(document).ready(function () {
            Game = {
                dictionary: ["0vmin", "10vmin", "20vmin", "30vmin", "40vmin", "50vmin", "60vmin", "70vmin", "80vmin", "90vmin"],
                initialize: function (game, loggedUserNickname) {
                    var styleRow;
                    var styleCol;
                    var div;

                    for (row in game.board) {
                        for (col in game.board[row]) {
                            if (row % 2 === col % 2) {
                                styleRow = getStyleIndex(row, loggedUserNickname, game);
                                styleCol = getStyleIndex(col, loggedUserNickname, game);
                                div = "<div class='cell' id='" + row + col + "' style='bottom:" + this.dictionary[styleRow] + ";left:" + this.dictionary[styleCol] + ";'></div>";
                                $('div.cells').append(div);
                            }
                        }
                    }
                    connectWS(game.id);
                    Game.drawCheckers(game);
                },

                drawCheckers: function (game) {
                    currentGame = game;
                    var side;
                    var type;
                    var styleRow;
                    var styleCol;
                    var king;
                    var div;

                    $('.white_checkers').empty();
                    $('.black_checkers').empty();

                    for (row in currentGame.board) {
                        for (col in currentGame.board[row]) {
                            var checker = currentGame.board[row][col];
                            if (checker) {
                                side = checker.side['$name'] ? checker.side['$name'] : checker.side.label;
                                type = checker.type['$name'] ? checker.type['$name'] : checker.type.label;
                                styleRow = getStyleIndex(row, loggedUserNickname, currentGame);
                                styleCol = getStyleIndex(col, loggedUserNickname, currentGame);
                                king = type.toLowerCase() === 'king' ? " king" : "";
                                div = "<div class='checker" + king + "' id='checker" + checker.row + checker.col + "' style='bottom:" + this.dictionary[styleRow] + ";left:" + this.dictionary[styleCol] + ";'></div>";
                                $('.' + side.toLowerCase() + '_checkers').append(div);
                            }
                        }
                    }
                }
            };

            if (currentGame && loggedUserNickname) {
                Game.initialize(currentGame, loggedUserNickname);
            }
        });

        $(document).click(function (e) {
            var element = $(e.target);
            console.log('click', element);

            if (loggedUserNickname !== currentGame.currentPlayer.nickname) {
                alert('Now is your opponent turn');
                return;
            }

            if (element.attr("class") === 'checker' || element.attr("class") === 'checker king') {
                var selected;
                var playerCheckersClass = element.parent().attr("class").split(' ')[0];
                var side = currentGame.currentPlayer.side['$name'] ? currentGame.currentPlayer.side['$name'] : currentGame.currentPlayer.side.label;
                var isPlayerTurn = (playerCheckersClass === side.toLowerCase() + "_checkers");
                if (isPlayerTurn) {
                    if (element.hasClass('selected')) selected = true;
                    $('.checker').each(function (index) {
                        $('.checker').eq(index).removeClass('selected')
                    });
                    if (!selected) element.addClass('selected');
                }
            } else if (element.attr("class") === 'cell') {
                if ($('.selected').length !== 0) {
                    var fromPosition = $('.selected').attr("id").replace(/checker/, '');
                    var toPosition = element.attr("id");
                    console.log(fromPosition, ' -> ', toPosition);
                    if (fromPosition && toPosition) {
                        makeMove(currentGame.id, fromPosition, toPosition);
                    }
                }
            }
        });

        /*]]>*/
    </script>
</head>

<body>

<div>
    <h2 class="text-center">Checkers</h2>
</div>
<div class="container" style="margin-left: 5%" th:with="blackSidePlayerNickname = ${currentGame != null and currentGame.blackSidePlayer != null and currentGame.blackSidePlayer.nickname != null ? currentGame.blackSidePlayer.nickname : ''}">
    <table class="table" th:with="isBlack = ${loggedUserNickname == blackSidePlayerNickname}">
        <tbody class="col-sm-3">
            <tr>
                <td class="col-sm-1">Opponent: </td>
                <td class="col-sm-1" th:text="${!isBlack} ? ${blackSidePlayerNickname} : ${currentGame.whiteSidePlayer.nickname}"></td>
                <td class="col-sm-1" th:bgcolor="${!isBlack} ? '#000000' : '#eeeeee'"></td>
            </tr>
            <tr>
                <td class="col-sm-1">You: </td>
                <td class="col-sm-1" th:text="${loggedUserNickname}"></td>
                <td class="col-sm-1" th:bgcolor="${isBlack} ? '#000000' : '#eeeeee'"></td>
            </tr>
            <tr>
                <td class="col-sm-1" th:align="right"><a th:href="@{/checkers/v1/logout}">Log out</a></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="board">
    <div class="cells"></div>
    <div class="checkers">
        <div class="white_checkers"></div>
        <div class="black_checkers"></div>
    </div>
</div>

</body>
</html>