<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkers Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/client.js"></script>
</head>
<body>
<div id="board">
    <div class="cells"></div>
    <div class="checkers">
        <div class="white_checkers">
        </div>
        <div class="black_checkers">
        </div>
    </div>
</div>
</body>
</html>